* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav footer footer';

  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}

header,
nav,
main,
aside,
footer {
  background-color: steelblue;
  padding: 10px;
  border: 1px solid white;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

@media (max-width: 800px) {
  body {
    grid-template-areas:
      'header'
      'content'
      'footer';

    grid-template-columns: 1fr;

    /* grid-template-rows: 100px 1fr 100px; */
  }

  aside,
  nav {
    display: none;
  }
}
